* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas: 
    "dashboard header header header header header"
    /*"dashboard header header header header header"*/
    "dashboard content content content content content"
    "dashboard content content content content content"
    "dashboard content content content content content"
    ;
    height: 100dvh;
    font-family: sans-serif;
}

/*todo FIX THE HEADER SIZE*/
/** -----------------HEADER------------------------*/
.head {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template:
    "nav-bar nav-bar nav-bar nav-bar profile"
    "greeting greeting greeting buttons buttons"
    "greeting greeting greeting buttons buttons"
    ;
    /*background-color: purple;
    border: 3px solid red;*/
}

.head img {
    max-width: 100px;
}

/* NAV-BAR -------------------------------------*/
.header__nav-bar {
    grid-area: nav-bar;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.header__nav-bar input {
    flex: 0 1 90%;
    height: 50%;
    border-radius: 80px;
    outline: none;
    overlay: none;
    border: 1px solid #00000081;
    padding: 1rem;
}

.header__nav-bar label {
    flex: 0 0 4%;
    height: 50%;
}

.header__nav-bar img {
    height: 100%;
    width: 100%;
    aspect-ratio: auto;
}

/* PROFILE -------------------------------------*/
.header__profile {
    grid-area: profile;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.header__profile h3 {
    margin-right: 2rem;
    
}

.header__profile a {
    width: 15%;
    height: 7vh;
    padding: 0;
    padding-top: 5px;
    margin: 0;
}

.header__profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* GREETING -------------------------------------*/
.header__greeting {
    grid-area: greeting;
    display: flex;
    padding: 0 2rem 0rem 2rem;
    margin: 0;
    font-size: max(1rem, 1vw);
}

.header__greeting img {
    border-radius: 50%;
    height: clamp(50px, 13vh, 100px);
}

.greeting__effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.greeting__effect p {
    margin: 0 1rem;
}

.greeting__effect h2 {
    margin: 0 1rem;
}

/* BUTTONS -------------------------------------*/
.header__buttons {
    grid-area: buttons;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.header__buttons button {
    flex: 1;
    height: 40%;
    padding: min(5px, 0.1vw);
    border-radius: 1.5rem;
    border: 1px solid #00000081;
    font-size: max(0.9rem, 1.1vw);
}

/** -----------------DASHBOARD------------------------*/

.dashboard {
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: green;
    padding: 2rem;
    font-size: min(1vw, 2rem);
}

.dashboard__item {
    width: 100%;
}

.dashboard__item a, .dashboard__logo {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 0 1rem;
}

.dashboard__item a, .dashboard__item h3 {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.dashboard__item img, .dashboard__logo img {
    width: 20%;
}

/** -----------------CONTENIDO------------------------*/

.main {
    grid-area: content;
    display: flex;
    /*background-color: blue;*/
}

/*todo CHANGE FONT SIZE FORM HERE*/
/* PROYECTS ------------------------------------------*/
.main__proyects--wrapper {
    flex: 7 3 0;
    display: flex;
    flex-direction: column;
    padding: 5px 1rem;
    height: 100%;
}

.main__proyects--wrapper h2{
    margin-top: 0;
}

.main__proyects {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 0 0.8rem 0;
    justify-content: center;
}

.proyect__item {
    border: 1px solid black;
    flex: 1 1 48%;
    padding: 15px;
    font-size: max(1rem, 1vw);
}

.proyect__item h3 {
    margin: 0;
}

.proyect__item p {
    margin-top: 7px;
}

/* EXTRA CONTENT -----------------------------------------*/
.main__lateral {
    flex: 2 1 0;
    min-width: 0;
    display: grid;
    grid-template-rows: 50% 50%;
}

.main__lateral h3, .main__lateral p, .main__lateral h2 {
    margin: 5px;
}

/* ANNOUNCEMENTS ------------------------------------------*/
.lateral__announcements {
    /*background-color: pink;*/
    display: flex;
    min-width: 0;
    flex-direction: column;
    padding: 0.5rem;
    padding-left: 0;
    gap: 5px;
    justify-content: center;
}

.announcements__item {
    min-width: 0;
    font-size: max(0.85rem, 0.8vw);
    overflow: hidden;
    text-overflow: ellipsis;
}

/*! learn how it works*/
.announcements__item p {
  display: -webkit-box;        /* contenedor flexible en WebKit */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;       /* número máximo de líneas antes de cortar */
  line-clamp: 2;
  overflow: hidden;            /* oculta lo que sobra */
  /* ya no necesitas text-overflow ni white-space aquí */
}

/* TRENDING ------------------------------------------*/
.lateral__trending {
    /*background-color: peru;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-left: 0;

}

.trending__item {
    display: flex;
    align-items: center;
    font-size: max(1rem, 1vw);
}

.trending__item img, .trending__item--info {
    flex: 1;
}